.details {
    margin-top: 20px;

  &__head {
      align-items: center;
  }

  &__no-history {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 14px;
    color: #7e7e7e;
    letter-spacing: 0.2px;
  }

  &__service-icon {
      width: 64px;
      height: 64px;
      min-width: 64px;
      margin-right: 1.5rem;
      background-size: cover;
  }

  &__service-name {
      font-size: 24px;
      color: #fff;
      letter-spacing: 0;
  }

  &__rate-inputs-section {
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 2rem;
  }

  &__inputs-section {
      display: flex;
      align-items: center;
  }

  &__input-section {
      width: 140px;
      margin: 0 .5rem;

      &:first-child {
          margin-left: 0;
      }

      &:last-child {
          margin-right: 0;
      }
  }

  &__input-label {
    font-size: 12px;
    white-space: nowrap;
  }

  &__change-rate-btn {
      padding-bottom: 8px;
  }

  &__buttons-section {
      margin-right: 0;
      margin-top: 1.5rem;
  }

  &__history-container {
      padding-top: 1.5rem;
  }

  &__history-title {
      font-size: 14px;
      color: #fff;
  }

  &__hr {
      margin: .5rem 0;
      border-top: 1px solid #454545;
  }

  &__dates-list {
      margin: 0;
      padding: 0;
  }

  &__date-item {
      position: relative;
      height: 32px;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
  }

  &__remove-icon {
      position: absolute;
      top: 50%;
      right: -1.5rem;
      transform: translateY(-50%);
      cursor: pointer;
  }

  &__date {
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.2px;
      white-space: nowrap;
      cursor: default;
  }

  &__date-divider {
      width: 100%;
      height: 13px;
      margin: 0 .5rem;
      border-bottom: 1px dotted #454545;
  }

  &__interval {
      color: #7e7e7e;
      font-size: 14px;
      white-space: nowrap;
      cursor: default;

      &--white {
          color: #fff;
          margin: 0 .5rem;
      }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
