<div class="sub-header">
  <nav class="container d-flex">
    <ul class="sub-header__nav">
      <li class="sub-header__nav__item">
        <a routerLinkActive="sub-header__nav__link--active"
           routerLink="/dashboard"
           class="sub-header__nav__link">
          Services
        </a>
      </li>
      <li class="sub-header__nav__item">
        <a routerLinkActive="sub-header__nav__link--active"
           routerLink="/settings/payment-method"
           class="sub-header__nav__link">
          Payment method
        </a>
      </li>
      <li class="sub-header__nav__item">
        <a routerLinkActive="sub-header__nav__link--active"
           routerLink="/invoice-history"
           class="sub-header__nav__link">
          Invoice history
        </a>
      </li>
    </ul>
  </nav>
</div>
